APIKEY = <YOUR-KEY>
AUTHDOMAIN = <YOUR-DOMAIN>
DATABASEURL = <YOUR-DATABASEURL>
PROJECTID = <YOUR-PROJECTID>
STORAGEBUCKET = <YOUR-STORAGEBUCKET>
MESSAGINGSENDERID = <YOUR-MESSAGINGSENDERID>
PORT = <YOUR-PORT>